<!DOCTYPE html>
<html>
  <head>
    <title>Firefy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script type="text/javascript">
      window.playlist_artworkURL = "<%= image_url('playlist_artwork.jpg') %>"
      window.firefly_logoURL = "<%= image_url('firefly_logo.png') %>"
      window.controls_spriteURL = "<%= image_url('controls_sprite.png') %>"
    </script> 

    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %></script>
    <% end %>


  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
