<!DOCTYPE html>
<html>
  <head>
    <title>Firefy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script type="text/javascript">
      window.firefly_logoURL = "<%= image_url('firefly_logo.png') %>"
      window.splash_backgroundURL = "<%= image_url('firefy_splash.png') %>"
      window.spotlight_backgroundURL = "<%= image_url('spotlight_background.png') %>"
      window.controls_spriteURL = "<%= image_url('controls_sprite.png') %>"
      window.playlist_artworkURL = "<%= image_url('playlist_artwork.jpg') %>"
      window.navbar_homeURL = "<%= image_url('navbar_home.png') %>"
      window.navbar_libraryURL = "<%= image_url('navbar_library.png') %>"
      window.navbar_searchURL = "<%= image_url('navbar_search.png') %>"
      window.noteURL = "<%= image_url('note.png') %>"
      window.volumeURL = "<%= image_url('firefy-volume.png') %>"
      window.volume_muteURL = "<%= image_url('firefy-volume-mute.png') %>"
      window.loopURL = "<%= image_url('firefy-loop.png') %>"
    </script> 

    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %></script>
    <% end %>


  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
